name: Go
on: [push]
jobs:

  build:
    name: Test and build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:

    - name: Set up Go 1.25
      uses: actions/setup-go@v5
      with:
        go-version: "1.25"
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Get dependencies
      shell: bash
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Run tests
      run: go test ./...

    - name: Build
      run: go build .
